body{
    background-color: #FFFBF1;
}

h1{
    color: #ff5733;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

h2{
    color: #333333;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-align: center;
}